$meter-bg-color: #0c0b11;

$ring-size: 1.5%;
$ring-color: #FFFFFF;

$grad-font-size: 1.25rem;
$grad-font-size-big: 2rem;
$grad-color: #FFFFFF;

/*
$meter-bg-color: rgb(32,32,32);
$ring-color: #eee;
$grad-color: #9affff;
*/

$tick-color: $grad-color;

$needle-width: 5px;
$needle-side-width: 3px;
$needle-height: 230px;
$needle-color: #e30;
$needle-shading: 5%;

$needle-axle-bg-color: $ring-color;
$needle-axle-color: #eee;
$needle-axle-size: 15%;
$needle-axle-size-big: 37.5%;

$label-color: $grad-color;







//@import url(https://fonts.googleapis.com/css?family=Coda:400,800);
@import url(https://fonts.googleapis.com/css?family=Coda:400|Roboto+Mono:400,400italic);

* {
	box-sizing: border-box;
//	transition: all 0.2s ease-in-out;
}

.dashboard {
	display: inline-block;
	padding: 2rem;
//	background: #;
	font-family: 'Coda', cursive;
}
.dot {
	border-radius: 100%;
	position: absolute;
	top: 33%;
	left: 33%;
	height: 10rem;
	width: 10rem;
	border-color:#FFFFFF;
	background-color: #FFFFFF;
	display: inline-block;
	align-items: center;
	overflow: visible;
	z-index:1;
  }
.svg{
	
}
.meter {
	display: inline-block;
	position: relative;
	width: 30rem;
	height: 30rem;
	background-color: $meter-bg-color;
	border-radius: 50%;
//	border: 4px solid black;
	margin: 0 0.5rem;

	
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100% + $ring-size * 2;
		left: -$ring-size;
		top: -$ring-size;
		bottom: -$ring-size;
		border-radius: 50%;
		background: $ring-color;
		z-index: -1;
		
	}
}

.label {
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	color: $label-color;

	&.label-value {
		color: $needle-axle-color;
	}
	
	span {
		text-transform: uppercase;
	}
}

.label-unit {
	top: 82.5%;
	
	div {
		
		font-size: 1rem;

		.meter--big-label & {
			font-size: 0;
		}
	}
}

.label-value {
	top: 50%;
	line-height: 1.25;
	
	div, span {
		font-size: 0;

		.meter--big-label & {
			font-size: 2.5rem;
		}
	}
	
	div {
		font-family: 'Roboto Mono', monospace;
		font-style: italic;
	}
	
	span {
		.meter--big-label & {
			font-size: 1rem;
		}
	}
	
	span {
		display: block;
		position: absolute;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	}
}

.needle,
.needle-axle {
	
}
.InfiniteRotate{
	position: absolute;
	top: 50%;
	left: 50%;
}
.needle {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: $needle-width;
	height: $needle-height;
	transform: translate3d(-50%, 0, 0);
	transform-origin: 50% 0;
	background-color: $needle-color;
	z-index: -1;
	

	&:before,
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
	}
	
	&:before {
		left: -$needle-side-width;
		border-width: 0 $needle-side-width $needle-height 0;
		border-color: transparent lighten($needle-color, $needle-shading * 2) transparent transparent;
	}
	
	&:after {
		right: -$needle-side-width;
		border-width: $needle-height $needle-side-width 0 0;
		border-color: darken($needle-color, $needle-shading) transparent transparent transparent;
	}
}
.needle1 {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: $needle-width;
	height: $needle-height;
	transform: translate3d(-50%, 0, 0);
	transform-origin: 50% 0;
	background-color: $needle-color;
	
	

	&:before,
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
	}
	
	&:before {
		left: -$needle-side-width;
		border-width: 0 $needle-side-width $needle-height 0;
		border-color: transparent lighten($needle-color, $needle-shading * 2) transparent transparent;
	}
	
	&:after {
		right: -$needle-side-width;
		border-width: $needle-height $needle-side-width 0 0;
		border-color: darken($needle-color, $needle-shading) transparent transparent transparent;
	}
}

.needle-axle {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: $needle-axle-size;
	height: $needle-axle-size;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 50%;
	background-color: $needle-axle-bg-color;
	color: $needle-axle-color;
	
	cursor: pointer;
	
	&:hover {
		background-color: darken($needle-axle-bg-color, 20%);
	}
	
	.meter--big-label & {
		width: $needle-axle-size-big;
		height: $needle-axle-size-big;
	}
}

.grad {
	position: absolute;
	display: inline-block;
	font-size: $grad-font-size;
	line-height: 1;
	color: $grad-color;
	transform: translate3d(-50%, -50%, 0);
	font-weight: bold;
	
	&.redzone {
		color: $needle-color;
	}

	.meter--rpm & {
		font-size: $grad-font-size-big;
	}
}

.grad-tick,
.grad-tick--half,
.grad-tick--quarter {

	&.redzone {
		background-color: $needle-color;
	}
}


.grad-tick {
	position: absolute;
	display: block;
	width: 4px;
	height: 0.75em;
	transform-origin: 50% 0;
	background-color: $tick-color;
}

.grad-tick--half {
	width: 2px;
	height: 0.5em;
}

.grad-tick--quarter {
	width: 2px;
	height: 0.25em;
}


// Gear-meter

.meter--gear {
	width: 5rem;
	height: 5rem;
	margin: 0;
	margin-left: -2rem;
	margin-right: -2rem;
	

	&:before {
		width: 100% + $ring-size * 4 * 2;
		height: 100% + $ring-size * 4 * 2;
		left: -$ring-size * 4;
		top: -$ring-size * 4;
		bottom: -$ring-size * 4;
	}

	div {
		font-size: 2.5rem;
		text-align: center;
		line-height: 5rem;
		font-family: 'Roboto Mono', monospace;
		font-style: italic;
		font-weight: bold;
		color: $grad-color;

		&.redzone {
			color: $needle-color;
		}
	}

}


// UI

.loader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background: tomato;
	color: white;
	padding: 2rem;
	text-transform: uppercase;
	
	&.active {
		display: inline-block;
	}
}

.btn-volume {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;

	width: 2.5rem;
	height: 2.53rem;
	line-height: 2rem;
	border-radius: 50%;
	background: transparent;
	color: gray;
	border: 4px solid;
	font-size: 1.5rem;
	font-weight: bold;
	
	&.active {
		color: tomato;
		border-color: tomato;
	}
}

// DEMO STYLES

body {
	text-align: center;
}

.head,
.help {
	padding: 1rem;
	color: #888;
	text-align: center;
	font-style: italic;
}

.help {
	border-top: 1px solid;
}

.head {
	border-bottom: 1px solid;
}

h1 {
	margin: 0;
//	font-family: 'Roboto Mono', monospace;
	font-weight: normal;
	text-transform: uppercase;
}
.button__next {
	margin: 20px;
	width: 210px;
	height: 50px;
	border-radius: 9px;
	border: none;
	font-size: 18px;
	color: white;
	background: linear-gradient(225deg, #181818, #292d33);
	box-shadow: -5px 5px 20px #191919,
	  5px -5px 20px #292929;
  }