
.dashboard_wrapper > div {
    animation: moveroad 500ms linear infinite;
  }

  
  .traffic {
    animation: movetraffic 4s linear;
  }
  .child{
    animation: movechild 10s linear;
  }
  
  @keyframes moveroad {
    0% {
      transform: translateY(-30px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes movetraffic {
    0% {
      left: 26px;
      top: 4rem;
    }
  
    100% {
      left: -32px;
      top: 19rem;
    }
  }

  @keyframes movechild {
    0% {
      left: 100px;
      top: 15rem;
    }
  
    100% {
      left: -32px;
      top: 19rem;
    }
  }
  .slowroad > div{
    animation: moveroadslow 500ms linear infinite;
  }
  
  @keyframes moveroadslow {
    0% {
      transform: translateY(-15px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }