.App {
  text-align: center;
}

h1 {
  text-align: left;
  font-size: 100px;
}

.landing__p {
  font-size: 36px;
  text-align: center;
  margin: 30px 40px;
}

p {
  text-align: left;
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}



.outter__div {
  position: relative;
  background-color: #000000;
  border-radius: 36px;
  width: 1400px;
  height: 650px;
  margin: 20px auto 0px auto;
  display: flex;
  align-items: center;
}

.search {
  width: 330px;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background: linear-gradient(145deg, #202328, #272a2f);
  box-shadow: 16px 16px 30px #1f2125,
    -16px -16px 30px #292d33;
  font-size: medium;
  color: white;
}

.slider {
  width: 200px;
}

.morph__div {
  width: 730px;
  height: 380px;
  background: #24272C;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.05), 18px 18px 36px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 36px;
}


.morph__div__small {
  width: 370px;
  box-sizing: border-box;
  padding: 20px;
  height: 350px;
  background: #24272C;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.05), 18px 18px 36px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 36px;
  position: relative;
}

.morph__div__big {
  width: 1150px;
  height: 380px;
  padding: 25px;
  background: #24272C;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.05), 18px 18px 36px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 36px;
}

.morph__div__box {
  width: 190px;
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: #24272C;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.05), 18px 18px 36px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 24px;
}

.morph__button__box {
  width: 190px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #24272C;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.05), 18px 18px 36px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 24px;
  border: 2px solid #582CED;
}

.morph__button__box:hover {
  transition: 1s ease;
  border: 3px solid #582CED;
  cursor: pointer;
}

.morph__button__box:active {
  transition: 1s ease;
  border: 4px solid #582CED;
  transition: box-shadow 1s ease;
  box-shadow: inset -5px 5px 20px #191919,
    inset 5px -5px 20px #292929;
}


.morph__button {
  width: 360px;
  height: 150px;
  box-sizing: border-box;
  padding: 10px 30px;
  color: white;
  border: #24272C;
  background: #24272C;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.05), 18px 18px 36px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 36px;
}

.morph__button:hover {
  transition: 1s ease;
  border: 2px solid #582CED;
  cursor: pointer;
}

.morph__button:active {
  transition: 1s ease;
  border: 4px solid #582CED;
  transition: box-shadow 1s ease;
  box-shadow: inset -5px 5px 20px #191919,
    inset 5px -5px 20px #292929;
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}







.morph__button__round {
  background-image: linear-gradient(-45deg, #383b40, #24272c, #101318);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: white;
  border: none;
}

.morph__button__round:hover {
  background: #24272c;
}

.morph__button__round:active {
  background: #383b40;
}





.button__next {
  margin: 20px;
  width: 210px;
  height: 50px;
  border-radius: 9px;
  border: none;
  font-size: 18px;
  color: white;
  background: linear-gradient(225deg, #181818, #292d33);
  box-shadow: -5px 5px 20px #191919,
    5px -5px 20px #292929;
}

.button__next:hover {
  background: #292d33;
  transition: 1s ease;
  box-shadow: -5px 5px 20px #191919,
    5px -5px 20px #292929;
}

.button__next:active {
  transition: box-shadow 1s ease;
  border-radius: 9px;
  background: #292d33;
  box-shadow: inset -5px 5px 20px #191919,
    inset 5px -5px 20px #292929;
}