.App {
  text-align: center;
}

.next__div {
  display: flex;
  justify-content: space-around;

}

.next__link {
  text-decoration: none;
}

.button__next {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  border: none;
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  background-color: #582ced;
  box-shadow: 0 1px 5px #582ced;
}