* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: #0c0b11;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
