.app {
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 24px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.question-button {
  font-size: 18px;
  padding: 10px;
  border-radius: 9px;
  border: none;
  font-size: 18px;
  background-blend-mode: multiply;
  color: white;
  background: linear-gradient(225deg, #181818, #292d33);
  box-shadow: -5px 5px 20px #191919,
    5px -5px 20px #292929;
}


.question-button:hover {
  background: #292d33;
  transition: 1s ease;
  box-shadow: -5px 5px 20px #191919,
    5px -5px 20px #292929;
}


.question-button:active {
  transition: box-shadow 1s ease;
  border-radius: 9px;
  background: #292d33;
  box-shadow: inset -5px 5px 20px #191919,
    inset 5px -5px 20px #292929;
}